.card {
  max-width: 400px;
}

.header-image {
  background-size: cover;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // grid-template-rows: repeat(100, 1fr);
  grid-auto-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-top: 50px;
}

.spacer {
  flex: 1 1 auto;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.empty-fav {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.weather-text {
  font-size: 30px;
  font-weight: 800;
}

.weather-temp {
  font-weight: 800;
}
